header, nav, h2 { display: block; }
body { background-color: #000033;
    
      color: #003300;
	  font-family: Arial, Helvetica, sans-serif;	  
}

h2 { color: #003366;}

nav a {font-weight: italic;
     font-size: 1.2em;
	 float: center;
     width: 150px;}
article {
    border: 1px solid black;
    padding: 2em;
    background-color: aliceblue;
}

table {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-cly1{text-align:left;vertical-align:middle}
.tg .tg-0lax{text-align:left;vertical-align:top}}

img {
  border-radius: 80%;
}
footer { float: right;
	font-size: 1.2em
}
